*.name
*.iml
*.xml
*.txt

*.bmp
*.jpg
*.sln
*.db
*.dwg
*.pts
*.log
*.tlog
*.pdb
*.obj
*.pch
*.recipe
*.exe
*.seg
*.pcd
*.pth
*.objects
*.labels
*.lnk
*.dll
*.csv
*.ini
*.lst
*.suo
*.ico
*.zip
*.dat
*.rbf
*.bat
*.varMacro
*.mot
*.camLayout
*.rcp
*.dcf
*.cam
*.lib
*.exp
*.iobj
*.ipdb
*.idb
*.ilk
*.res
*.enc
*.rc2
*.user
*.filters
*.ipch
*.weights
*.vcxproj
*.pyc
*.md
*.gif
*.ipynb
*.pt
*.pro
*.props
*.qrc
*.json
*.sh
*.ply
*.7z
*.opendb
